@use '/src/scss' as *;

.header {
  position: sticky;
  left: 0;
  top: 0;
  height: $header-height-max;
  padding-block: 1rem;
  border-bottom: 1px solid hsla(0,0%,95%,.251);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 2;

  @include laptop {
    height: $header-height;
  }

  &__logo {
    width: 200px;

    @include laptop {
      width: 120px;
    }
  }

  .nav {
    @include breakpoint-down(850px) {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 100%;
      transition: right 0.5s ease;
      z-index: 2;

      &__list {
        height: calc(100vh - $header-height);
        flex-flow: column;
        text-align: center;
        gap: 6px;
        padding-block: 1rem;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background: $body-bg;

        .item__link {
          width: 100%;
          padding: 1rem;
          background: $body-bg;

          &.active {
            color: #fff !important;
            background: $main-color;
          }
        }
      }
    }

    &.active {
      right: 0;
    }

    &__list {

      .item {
        &__link {
          font-weight: 500;
          font-size: 26px;
          color: $txt-color;
          transition: color 0.2s ease;

          @include laptop {
            font-size: 17px;
          }

          &.active {
            color: $main-color;
          }

          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }

  .lang {
    position: relative;
    padding-inline: 10px;
    margin-right: 1rem;
    z-index: 5;

    &.active {

      .lang__list {
        top: 120%;
        visibility: visible;
        opacity: 1;
      }
    }

    &__main {
      gap: 10px;
      cursor: pointer;

      .icon {
        font-size: 24px;
        color: $txt-color;

        @include laptop {
          font-size: 18px;
        }
      }
    }

    &__list {
      position: absolute;
      top: 80%;
      left: 0;
      min-width: 150%;
      border-radius: 10px;
      background: #fff;
      visibility: collapse;
      opacity: 0;
      transition: top 0.2s ease,
      opacity 0.3s ease,
      visibility 0.3s ease;

      .item {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: color 0.2s ease,
        background-color 0.2s ease;

        &:hover {
          color: #fff;
          background: $main-color;
        }

        .img {
          width: 35px;

          @include laptop {
            width: 25px;
          }
        }
        .txt {
          font-weight: 500;
          font-size: 18px;

          @include laptop {
            font-size: 14px;
          }
        }
      }
    }

    .img {
      width: 40px;
      border-radius: 8px;

      @include laptop {
        width: 30px;
      }
    }
  }

  &__btn {
    padding: 1rem 2rem;
    border-radius: 20px;

    @include laptop {
      padding: 12px 1.5rem;
    }
    @include breakpoint-down(850px) {
      display: none;
    }
  }

  .open-nav {
    display: none;

    @include breakpoint-down(850px) {
      display: block;
    }

    i {
      font-size: 28px;
      color: $txt-color;
    }
  }
}