$font-family: "Montserrat", sans-serif;

$main-color: #089eae;
$txt-color: #262626;
$txt-secondary-color: #2c3d68;
$txt-gray-color: #657188;
$body-bg: #f0fbfc;
$footer-bg: #132742;

$box-shadow: 1px 15px 15px 1px #2c3d6870;

$header-height: 105px;
$header-height-max: 150px;

$laptop-width: 1920px;
$tablet-width: 1024px;
$mobile-width: 600px;
$phone-width: 480px;